<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Statistics</title>
</head>
<body>
    <section class="content">
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('page') }}">Страница</a>
        <a href="{{ url_for('stat') }}">Статистика</a>

        <header>
            {% block header %}{% endblock %}
        </header>

        {% block content %}{% endblock %}
    </section>
</body>
</html>