{% extends '_base.html' %}

{% block header %}
    <h1>{% block title %}Главная{% endblock %}</h1>
{% endblock %}

{% block content %}
    <a href="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" target="_blank" download>Скачать файл</a>

    <script src="/static/scripts/stat.js" type="application/javascript"></script>
{% endblock %}