{% extends '_base.html' %}

{% block header %}
    <h1>{% block title %}Страница{% endblock %}</h1>
{% endblock %}

{% block content %}
    <a href="https://yastatic.net/www/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg" target="_blank" download>Скачать файл</a>

    <script src="/static/scripts/stat.js" type="application/javascript"></script>
{% endblock %}