{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}Статистика{% endblock %}</h1>
{% endblock %}

{% block content %}

    <h2>Статистика посещаемости</h2>

    <table cellspacing="2" border="1" cellpadding="5">
        <tr>
            <td>URL</td>
            <td>Уникальные</td>
            <td>Всего</td>
        </tr>
        {% for item in list_page_stats %}
            <tr>
                <td>{{ item.url }}</td>
                <td>{{ item.uni_hits }}</td>
                <td>{{ item.hits }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Статистика загрузки файлов</h2>

    <table cellspacing="2" border="1" cellpadding="5">
        <tr>
            <td>URL</td>
            <td>Уникальные</td>
            <td>Всего</td>
        </tr>
        {% for item in list_download_stats %}
            <tr>
                <td>{{ item.url }}</td>
                <td>{{ item.uni_hits }}</td>
                <td>{{ item.hits }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}